@font-face {
    font-family: Lexend Deca;
    src: url("https://fonts.google.com/specimen/Ramabhadra");
}

body {
    background: white;
    color: rgb(0, 0, 0);

}

.Container {
    margin: 0 auto;
    display: flex;

    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}


form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

label {
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size:20px;
    color: #000000;
    font-family: lexend deca;
}

input {
    margin-left: 5px;
    font-size: 20px;
    outline: none;
    border: none;
    background: rgba(185, 237, 218, 0.75);
    width: 250px;
    flex-wrap: wrap-reverse;
    height: 30px;
    margin-bottom: 5px;
}

.Btn {
    border: none;
    background: #3b3b3b;
    border-radius: 15px;
    margin: 30px;
    height: 35px;
    width: 100px;
    font-family: lexend deca;
    color: white;
    font-size: 15px;
    padding: 5px;
}

.Btn:hover {
    background: rgb(138, 219, 190);
    color: black;
}

